*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: rgb(98, 226, 188);
}

.Menu{
  display: flex;
  justify-content: center;
  text-decoration: none;
  
}

li {
  padding: 1cm 2cm;
  text-decoration: none;
}